[Unit]
Description=kiosk

[Service]
Type=simple
StandardOutput=journal
Environment="KIOSK_TMPDIR=$HOME/kiosk_tmp"
ExecStart=bash /home/eramox/Documents/workspace/cannes_beach_kiosk/test/cloud/run.sh

[Install]
WantedBy=default.target
